﻿@model AGL.Web.Models.AglTestViewModel

@{
    ViewBag.Title = "AGL test";
}

<h2>AGL Test</h2>

<div class="container">
    <div class="col-md-12">
        <h2>
            @Model.MaleGenderTitle
        </h2>
    </div>
    @Html.Partial("~/Views/Partial/ListPet.cshtml", Model.CatsOwnByMale)
</div>

<div class="container">
    <div class="col-md-12">
        <h2>
            @Model.FemaleGenderTitle
        </h2>
    </div>
    @Html.Partial("~/Views/Partial/ListPet.cshtml", Model.CatsOwnByFemale)
</div>

