﻿@model IEnumerable<AGL.Service.Models.IPet>

<div class="col-md-6">
    @if (Model.Any())
    {
        @:<ul>
    }


    @foreach (var pet in Model)
    {
        <li>
            @pet.Name
        </li>
    }

    @if (Model.Any())
    {
        @:</ul>
    }

</div>